.nav {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #f0f0f5;
    /* background: white; */
    padding: 20px 0;
}

.nav-link-home {
    position: absolute;
    left: 10px;
    font-style: normal;
    text-decoration: none;
    color: #004d99;
    font-size: 12px;
    display: inline-block;
    top: 10px;
    padding-top: 4px;
    padding-bottom: 9px;
    padding-right: 9px;
    padding-left: 9px;
  }
  
.Header__right, .Header__not-logged-in {
    position: absolute;
    right: 0px;
    top: 10px;
}

.nav-link {
    padding: 9px;
    text-decoration: none;
    color: #004d99;
    font-size: 12px;
}

.active {
    font-weight: bold;
    border-bottom: #004d99 solid 2px;
}