* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #b5d4e3; */
}

h1 {
  font-weight: 700;
  /* color: #2e829e; */
  margin: 0;
}

h2 {
  font-weight: 100;
  font-size: 2.2em;
}

h3 {
  font-weight: 300;
}

.App {
  text-align: center;
  padding: 2% 0;
}

#brain-img {
  /* background-color: blueviolet; */
  background-repeat: no-repeat;
  width: 45%;
  /* float: right; */
  /* height: 100px; */
  /* background-size: initial; */
}

#brain-img-form {
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  width: 50%;
  vertical-align: middle;
  float: right;
}

/* #brain-img-tracker {
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  width: 50%;
  vertical-align: middle;
  float: right;
} */

/* #record-migraine-form {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */

li {
  list-style-type: none;
}

input {
  height: 15px;
  border-radius: 5px;
  padding: 5px;
}

button {
  height: 30px;
  border-radius: 10px;
  border: 2px solid grey;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

link {
  list-style-type: none;
}

.about-app {
  background-color:  #ebf0fa;
  padding: 2% 0;
}

.login-form, .signup-form {
  text-align: center;
}

.record-form-entry {
  padding: 15px 0;
}

form {
  padding: 0 5%;
  text-align: left;
}

fieldset {
  border: none;
  background-color: lightblue;
  border-radius: 20px;
}

.tracker {
  padding: 0 5%;
  text-align: left;
}

.record-item {
  background-color: lightblue;
  border-radius: 20px;
  padding: 2% 5%;
}

.login-form-entry, .signup-form-entry {
  padding-bottom: 2%;
}

label {
  display: block;
}

select {
  display: block;
  padding: 5px;
  /* margin-right: auto;
  margin-left: auto; */
}

#comments {
  width: 90%;
  height: 20px;
}

@media screen and (max-width: 775px) {
  .data-box {
      width: 90%;
      /* height:  */
  }
}
/* @media screen and (min-width: 776px) {
  .record-container {
    height: 550px;
    width: 400px;
    overflow: scroll;
  }
} */