.App {
  text-align: center;
  padding: 7% 0;
}

li {
  list-style-type: none;
}

input {
  height: 15px;
  border-radius: 5px;
  padding: 5px;
}

button {
  height: 30px;
  border-radius: 5px;
}

.about-app {
  background-color:  #ebf0fa;
  padding: 2% 0;
}